.idea/
.vscode/
__pycache__/
*.py[cod]
*.pyo
.tox/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/

node_modules/

build/
dist/
*.egg-info/

venv/
.venv/
.vercel/
.env
blog.db
.DS_Store
