/* General styling for the article container */
.article-container {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 0 20px;
}

.article-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

/* Styling for the article title */
.article-title {
    font-size: 2.8rem; /* Adjusted for responsiveness */
    margin-bottom: 0.5em;
    line-height: 1.2;
    color: #333;
}

/* Styling for the article date */
.article-date {
    font-size: 1rem;
    color: #888;
    margin-bottom: 1em;
}

/* Styling for the article content */
.article-content {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #333;
}

/* Separator after the header */
.article-header:after {
    content: '';
    height: 2px;
    background: #ddd;
    width: 100%;
    display: block;
    margin-top: 20px;
}

/* Styling for images within the article content */
.article-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
/* Footer styling */
footer {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}
/* Mobile-specific styles */
@media (max-width: 576px) {
    .article-container {
        max-width: 90%;
        padding: 0 10px;
    }

    .article-title {
        font-size: 2rem; /* Smaller title size on mobile */
    }

    .article-content {
        font-size: 1rem;
    }
}
