/* Footer styling */
footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px 0; /* Add padding to the footer */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Add some horizontal padding */
}

footer p {
    color: #888; /* Change color as needed */
}

/* Existing styles */
#page-transition-wrapper {
    opacity: 0;
    transition: opacity 1s ease-out;
}
