body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"],
input[type="password"] {
    font-family: 'Inter', sans-serif;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 9px;
    cursor: grab;
}

input[type="submit"] {
    font-family: 'Inter', sans-serif;
    width: 96%;
    padding: 10px;
    border: none;
    border-radius: 9px;
    border-color: #070807;
    background-color: #5cb85c;
    cursor: grab;
}

input[type="submit"]:hover {
    background-color: #ffffff;
}

.flashed-messages {
    color: rgb(4, 4, 4);
    margin: 10px 0;
}