/* publish-styles.css */
body, input, button {
    font-family: 'Inter', sans-serif;
    
  }


body {
    background-color: #fff; /* Adjust the background color to match your design */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: none;
  }
  
  #form-container {
    
    padding: 40px;
    border: none;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 700px; /* Adjust the width as necessary */
  }
  
  #title {
    width: calc(100% - 36px);
    margin-bottom: 20px;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: large; /* Adjust the font size as necessary */
    cursor: grab;
    font-weight: bolder;
  }
  
  #editor {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    height: 300px;
    background-color: #fff; /* Use a white background for the editor content */
    border: 1px solid #ddd; /* Lighter border color for better visibility */
    border-radius: 8px;
    padding: 1px; /* Increased padding for better spacing */
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    cursor: text; /* Change cursor to text when inside the editor */
}
  
  .ql-toolbar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
  }
  
  .ql-container {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
  }
  .ql-editor img {
    max-width: 100%;
    object-fit: none;
    height: auto;
    display: block; /* Optional: may help with layout */
  }
  
  #publish-button {
    background-color:#ffffff; /* Adjust button color to match your design */
    color: rgb(0, 0, 0);
    border: 2px solid #333;
    padding: 4px 12px;
    font-size: 17px;
    margin: 15px;
    border-radius: 16px;
    border-color: #070807;
    text-transform: uppercase;
    cursor: grab;
    font-size: 16px; /* Adjust the font size as necessary */
    float: right; /* Align the button to the right */
    
  }
  
  #publish-button:hover {
    background-color: #070807; /* Slightly darker on hover */
    color: white;
  }
  
  /* Clear floats */
  #form-container::after {
    content: "";
    display: table;
    clear: both;
  }
  
