/* Reset padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 a {
    text-decoration: none; /* This removes the underline */
    color: inherit; /* This makes the link use the same color as the h1 tag */
    cursor: grab;
}

h1 a:hover {
    text-decoration: none; /* This adds the underline back on hover for visual feedback, optional */
}
/* Set the font for the whole body */
body {
    font-family: 'Inter', sans-serif;
    color: #212529; /* Default text color */
    background-color: #f8f9fa; /* Light grey background */
}

/* Style the header */
header {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: flex;
    padding: 30px 40px;
}

/* Style the blog title */
header h1 {
    font-size: 25px;
    font-weight: bold;
    color:#162232;
    padding: 0 120px;
    cursor: grab;
}

/* Style the navigation links */
nav {
    font-size: 1rem;
    padding: 10px 110px
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #00000080;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
    cursor: grab;
}

/* Profile section styling */
.profile {
    text-align: center;
    margin: auto;
    margin-top: 95px;
    background-color: #f8f9fa;
}

/* Profile image styling */
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #343434;
    object-fit: cover;
    display: inline-block;
    margin-top: -60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 1.5rem;
    color: #00000080;
    margin-bottom: 10px;
}

.profile p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links {
    margin-top: 10px; /* Adjust the margin as needed */
    font-size: 1.5rem; /* Size of the icons */
    display: inline-block; /* To center in the parent if it's text-align: center */
}

.social-links a {
    margin: 0 10px; /* Space out the icons */
    color: #000; /* Icon color, change as needed */
    transition: color 0.3s; /* Transition for hover effect */
    cursor: grab;
}

.social-links a:hover {
    color: #007bff; /* Icon hover color, change as needed */
}


/* Button styling */
.buttons button {
    font-family: 'Inter', sans-serif;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1E90FF;
    color: #00000080;
    font-weight: bolder;
    font-size: 1rem;
    cursor: grab;
}

.buttons button:hover {
    background-color: #0056b3;
}

/* Footer styling */
footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: #f8f9fa;
}

/* Existing styles */

#page-transition-wrapper {
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* Important styles */
@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: center; /* Center align items for smaller screens */
        padding: 20px; /* Adjust padding as needed */
    }
    
    header h1 {
        font-size: 1.5rem; /* Smaller font size for the header */
        padding: 10px 0; /* Reduced padding */
        text-align: center; /* Center the text */
        margin: 0; /* Remove margin to fix spacing */
    }
    
    #toggle {
        order: -1; /* Put toggle above the header title */
        align-self: flex-end; /* Align toggle to the right */
        margin: 10px; /* Adjust margin for spacing */
    }

    #menu {
        width: 100%; /* Make the menu full width */
    }

    nav ul {
        flex-direction: column;
        width: 100%; /* Full width to the nav */
    }

    nav ul li {
        display: block;
        width: 100%; /* Full width to the list items */
    }

    nav ul li a {
        display: block;
        width: 100%; /* Full width to links */
        padding: 10px; /* More padding for tap targets */
        text-align: left; /* Align text to the left */
    }
}
