<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog-styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog-style.css') }}">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(96888458, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/96888458" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <title>Ollayor's Blog</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <main class="blog-content">

            <!-- Blog posts will be listed here -->
            {% for article in articles %}
            <article class="post">
                <h3 class="post-title">
                    <a href="{{ url_for('article', slug=article.slug) }}" class="post-title">{{ article.title }}</a>
                </h3>
                <div class="post-date">{{ article.date_published }}</div>
            </article>
            {% endfor %}
        </main>
        <aside class="sidebar">
            <h2>Obuna Bo'ling</h2>
            <p>Yangi maqola va maruza <a href="https://t.me/Qprogrammer" style="text-decoration: none;">@Qprogrammer</a>
                telegram kanalimda topishingiz mumkin.</p>
        </aside>
    </div>
</body>

</html>