<footer class="py-4 mt-auto">
	<div class="container mx-auto px-4 flex justify-between items-center">
		<div class="text-sm text-gray-500 dark:text-gray-300">© <span id="currentYear"></span> ollayor.uz</div>
		<div class="flex gap-4">
			<a
				href="https://t.me/Qprogrammer"
				class="text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100 transition-colors"
			>
				<i class="fab fa-telegram-plane"></i>
			</a>
			<a
				href="https://twitter.com/olllayor"
				class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition-colors"
			>
				<i class="fab fa-twitter"></i>
			</a>
			<a
				href="https://github.com/olllayor"
				class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition-colors"
			>
				<i class="fab fa-github"></i>
			</a>
			<a
				href="/matrix"
				class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition-colors"
			>
				<i class="fas fa-terminal"></i>
			</a>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			document.getElementById('currentYear').textContent = new Date().getFullYear();
		});
	</script>
</footer>
