<footer class="py-4 mt-auto">
	<div class="container mx-auto px-4 flex justify-between items-center">
		<div class="text-sm text-gray-600 dark:text-gray-200">© <span id="currentYear"></span> ollayor.uz</div>
		<div class="flex gap-4">
			<a
				href="https://t.me/Qprogrammer"
				aria-label="Telegram Channel"
				class="text-gray-600 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100 transition-colors"
			>
				{{ icon('telegram', 'w-4 h-4') }}
			</a>
			<a
				href="https://twitter.com/olllayor"
				aria-label="Twitter"
				class="text-gray-600 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100 transition-colors"
			>
				{{ icon('twitter', 'w-4 h-4') }}
			</a>
			<a
				href="https://github.com/olllayor"
				aria-label="GitHub"
				class="text-gray-600 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100 transition-colors"
			>
				{{ icon('github', 'w-4 h-4') }}
			</a>
			<a
				href="/matrix"
				aria-label="Terminal"
				class="text-gray-600 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100 transition-colors"
			>
				{{ icon('terminal', 'w-4 h-4') }}
			</a>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			document.getElementById('currentYear').textContent = new Date().getFullYear();
		});
	</script>
</footer>
